{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <!-- INCLUDE CUSTOM CSS FOR THE PROFILE PAGE -->
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <!-- BLOCK PAGE HEADER -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- BLOCK PROFILES DETAILS -->
    <div class="overlay">
        <div class="container">
            <div class="row tittle">
                <div class="col">
                    <hr>
                    <h2 class="logo-font mb-4">My Profile</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <p class="text-muted">Default Delivery Information</p>
                    <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-black rounded-0 text-uppercase float-right">Update Information</button>
                    </form>
                </div>
                <div class="col-12 col-lg-6">
                    <p class="text-muted">Order History</p>
                    <div class="order-history table-responsive">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Date</th>
                                    <th>Items</th>
                                    <th>Order Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'order_history' order.order_number %}"
                                            title="{{ order.order_number }}">
                                                {{ order.order_number|truncatechars:6 }}
                                            </a>
                                        </td>
                                        <td>{{ order.date }}</td>
                                        <td>
                                            <ul class="list-unstyled">
                                                {% for item in order.lineitems.all %}
                                                    <li class="small">
                                                        {% if item.product.has_sizes %}
                                                            Size {{ item.product.size|upper }}
                                                        {% endif %}{{ item.product.name }} x{{ item.quantity }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>${{ order.grand_total }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
            <div class="col-12">
                <p>If you really like our products, considering writing a testimonial!</p>
                <a href="{% url 'add_testimonial' %}" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-marker"></i>
                        </span>
                        <span class="text-uppercase">Add Testimonial</span>
                    </a>

            </div>
        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   

{% endblock %}
<!-- INCLUDE CUSTOM JS -->
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}