{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <!-- INCLUDE CUSTOM CSS FOR THE CHECKOUT PAGE -->
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

<!-- BLOCK PAGE HEADER -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- BLOCK CONTENT FOR THE CONFIRMATION EMAIL SENT -->
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <p>
                Code expired, please type your email address and confirm to receive a new email with an access link.
            </p>
            <div class="col">
                <form action="{% url 'checkout_confirm_email' %}" method="POST">
                    {% csrf_token %}
                    {{ form.email | as_crispy_field }}
                    <button class="btn btn-black border-black" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
			<div class="col-12 col-lg-7 text-right">
			  {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="text-uppercase">Back to Profile</span>
                    </a>
                {% else %}
                    <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-gifts"></i>
                        </span>
                        <span class="text-uppercase">Now check out the latest deals!</span>
                    </a>
                {% endif %}
			</div>
		</div>
    </div>
{% endblock %}