{% extends "base.html" %}
{% load static %}
{% load crispy_forms_field %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact_us/css/contact_us.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row contact">
            <div class="col text-center">
                <h2 class="text-black mt-3">Contact</h2>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-5 contactform">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                     <div class="text-center">
                    <a class="btn btn-outline-black" href="{% url 'home' %}">Back to home</a>
                    <button class="btn btn-black border-black" type="submit">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}