{% extends "base.html" %}
{% load static %}
{% load crispy_forms_field %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact_us/css/contact_us.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-black mt-3">Contact Form</h2>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<body>
    <h1>Contact Us</h1>
    <form method="post" action="{% url 'contact_us' %}">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" name="name" required><br>

        <label for="email">Email:</label><br>
        <input type="email" name="email" required><br>

        <label for="subject">Subject:</label><br>
        <input type="text" name="subject" required><br>

        <label for="message">Message:</label><br>
        <textarea name="message" required></textarea><br>

        <input type="submit" value="Submit">
    </form>
</body>
{% endblock %}