{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <!-- INCLUDE CUSTOM CSS FOR THE BLOG PAGE -->
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<!-- MASTHEAD SECTION -->
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-12 masthead-image d-flex align-items-center justify-content-center">
                <!-- DISPLAY FEATURED IMAGE OF BLOG POST -->
                <div>
                <img src="{{ post.featured_image.url }}" class="img-fluid" alt="{{ post.title }}">
                </div>
                <div class="col-md-7 d-flex justify-content-between masthead-content">
                    <!-- DISPLAY THE TITLE AND AUTHOR OF THE BLOG POST -->
                    <h1 class="post-title text-black text-center">{{ post.title }}</h1>
                    <div>
                    <a href="{% url 'favorite_add' post.id %}" class="btn btn-outline-primary">Add to Favourites</a>
                    </div>
                    <p class="post-subtitle text-center">By: {{ post.author }} | {{ post.created_on }}</p>
                </div>
                
            </div>
            <div class="col-12 mt-3 masthead-text">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 card mb-4 mt-3">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <!-- DISPLAY THE CONTENT OF BLOG POST -->
                        <p class="card-text">
                            {{ post.content | safe}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong>
                            <!-- LIKE BTN AND NUMBER OF LIKES FOR THE BLOG POST -->
                            {% if user.is_authenticated %}
                                <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                    {% csrf_token %}
                                    {% if liked %}
                                    <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                    {% else %}
                                    <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like">
                                        <i class="far fa-heart"></i>
                                    </button>
                                    {% endif %}
                                </form>
                            {% else %}
                            <span class="text-secondary-blog">
                                <!-- DISPLAY HEART ICON FOR UNAUTHENTICATED USERS -->
                                <i class="far fa-heart"></i>
                            </span>
                            {% endif %}
                            <!-- DISPLAY THE NUMBER OF LIKES FOR THE BLOG POST -->
                            <span class="text-secondary-blog">{{ post.number_of_likes }}</span>
                            <p class="small text-muted mt-2">Only logged in users can like blog post, 
                                <a class="signup-blog-link" href="{% url 'account_signup' %}"><strong>sign up now!</strong></a>
                            </p>
                            <div>
                                <!-- LINK TO GO BACK TO THE BLOG POST LIST -->
                                <a class="btn btn-outline-black rounded-0" href="{% url 'blog' %}">Back to blogs</a>
                            </div>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BACK-TO-TOP BUTTON -->
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}

{% block postloadjs %}
    <!-- CUSTOM JS FOR BACK-TO-TOP BUTTON -->
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            e.preventDefault();
            $('html, body').animate({
                scrollTop: 0
            }, 1000);
        });
    </script>
{% endblock%}